# node files
node_modules/

# bundle file
bundle.js
bundle.js.map
bundles/

# vim temp files
*.sw[op]

# python cache
__pycache__/
*.py[cod]

# macOS cache
.DS_Store

# log file
*.log

webpack-stats.json
