# node files
node_modules/

# bundle file
bundle.js
bundle.js.map
bundles/

# vim temp files
*.sw[opn]

# python cache
__pycache__/
*.py[cod]

# macOS cache
.DS_Store

# log file
*.log

# environment folder
shoebox-env/

# Moopin setting
manage-mooping.py
settings-mooping.py
