.menu-list a {
  border-radius: 2px;
  color: #9e9e9e;
  display: block;
  padding: 5px 20px;
}

.menu-list a:hover {
  background-color: #f9a825;
  color: white;
}

.menu-list a.is-active {
  background-color: #00d1b2;
  color: red;
}

.menu-list li ul {
  border-left: 1px solid #dbdbdb;
  margin: 10px;
  padding-left: 20px;
}

.menu-label {
  color: #424242;
  font-size: 11px;
  letter-spacing: 1px;
  padding: 0px 10px 0px 10px;
  text-transform: uppercase;
}

.menu-label:not(:first-child) {
  margin-top: 20px;
}

.menu {
  background-color: #F7F7F7;
  padding: 5px 0px 1px 0px
}
