body {
    background: #EEEEEE;
}

main {
    flex: 1 0 auto;
}

footer {
    display: block;
}

nav ul li a {
    z-index: 999;
    color: black;
}

.button-collapse {
    color: #979797;
}

.material-icons {
    color: black;
}

.hide-on-med-and-down {
    padding-right: 12px;
}

#search_box {
    width: 100px;
    height: 52px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

margin-60 {
    margin-top: 6000px;
}

.black_arrow {
    float: right;
}

.block_header {
    font-size: 28px;
    padding-top: 60px;
}

.price_tag {
    position: relative;
}

.margin-l-r-90 {
    margin-left: 90px;
    margin-right: 90px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}
