/* Shoebox Body*/

#sbox-body {
  background: #EDEDED
}

/* Shoebox Navbar */

#sbox-nav-logo {
    height: 52px;
    position: relative;
    top: 6px;
    left: 30px;
}

#sbox-nav-logo-small {
  height: 48px;
  position: relative;
  top: 4.5px;
}

.sbox-white-nav {
    background: #FAFAFA;
}

/* Shoebox Sticky footer Style */

.sbox-page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Shoebox Product Styles*/

.sbox-brand {
    font-size: 12px;
    color: #9B9B9B;
    position: relative;
    top: -12px;
    left: -10px;
}

.sbox-product-name {
    font-size: 18px;
    position: relative;
    top: -7px;
}

.sbox-price {
    position: relative;
    font-size: 14px;
    top: -3px;
}

.sbox-add-to-cart {
    position: relative;
    top: 10px;
    cursor: pointer; cursor: hand;
}

/* Shoebox Cart Styles*/

.sbox-brand-in-cart {
    font-size: 20px;
    color: #000000;
    margin: 0 auto;
}

.sbox-name-in-cart {
    font-size: 20px;
    color: #000000;
    padding-bottom: 18px;
}

.sbox-price-in-cart {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.sbox-quantity-in-cart {
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.sbox-summary-header {
    font-size: 17px;
    color: #000000;
}

.sbox-cart-content-detail {
    margin-top: 20px;
}

.sbox-cart-subtotal {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 200;
}

.sbox-cart-shipping {
    font-size: 16px;
    font-weight: 200;
}

.sbox-row-order {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sbox-cart-total {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.sbox-checkout-button {
    width: 100%;
}

.sbox-cart-bin {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}

.sbox-cart-img {
    padding-left: 54px;
    padding-right: 50px;
    height: 180px;
    width: auto;
}

i.sbox-giant-icon {
  font-size: 20em;
}

i.sbox-icon-gray {
  color: #BDBDBD;
}

/* Shoebox Header Styles */

.sbox-header-bar {
	background-color: #EE6573;
	height: 120px;
	margin-bottom: 30px;
}

.sbox-header-text {
  margin-top: 10px;
}

.sbox-header-bread {
	position: relative;
	top: 9px;
}

.sbox-header-bread span {
	position: relative;
	top: 2px;
	font-size: 20px;
}

/* Shoebox Checkout Style */

.sb-edit-text {
	float: right;
	padding-right: 18px;
	padding-top: 25px;
}

.sb-grey-box {
	background-color: #E0E0E0;
	margin-top: 70px;
  margin-bottom: 70px;
}

.sb-grey-box-2 {
	background-color: #E0E0E0;
	margin-top: 20px;
    margin-bottom: 70px;
}

.sb-grey-box-header {
	font-size: 18px;
	padding-top: 25px;
	padding-left: 20px;
}

.sb-grey-box-address {
	font-size: 14px;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.sb-checkout-list {
	height: 80px;
}

.sb-checkout-img {
	height: 80px;
	width: 80px;
}

.sb-checkout-item-name {
	font-size: 14px;
}

.sb-checkout-detail {
	padding-top: 29px;
}

.sb-grey-box-card-number {
	font-size: 14px;
    margin-top: -15px;
	padding-left: 20px;
}

.sb-grey-box-cvv {
	font-size: 14px;
	padding-left: 20px;
}

#sb-checkout-cvv-input {
    padding-left: 20px;
}

.sb-checkout-cvv-input-width {
    width: 80px;
    margin-left: 15px;
    margin-top: 10px;
}

.sb-checkout-subtotal {
    font-size: 14px;
    opacity: 0.8;
}

.sb-checkout-total {
    font-size: 14px;
    font-weight: 500;
}

.sb-pay-button {
    width: 100%;
    position: relative;
    left: -4px;
}

.sb-checkout-total-right {
    text-align: right;
}

/* Shoebox Login Style*/

#sbox-login-logo {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
}

#sbox-login-card {
  margin-top: 30px;
}

#sbox-login-form {
  max-width: 500px;
}

.sbox-login-input {
  text-align: center;
  font-size: 18px;
}

#sbox-login-button {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center;
}

/* Shoebox Search Style */

#sbox-search-form {
  max-height: 100px;
  font-size: 30px;
}

.sbox-search-form-input {
  max-height: 0px;
}

/* new checkout style */

.sb-checkout-list2 {
}

.sb-checkout-list2-brand {
	font-weight: 500;
}

.sb-checkout-img2 {
	height: 120px;
	width: 120px;
}

.sb-checkout-middle-in-card {
	margin-top: 17px;
}

.sb-checkout-margin-in-card {
	margin-top: 7px
}

.sb-checkout-list2-right {
	float: right;
}

.sb-bold {
	font-weight: 500;
}

.sb-checkout-list-header {
	font-size: 16px;
}

.sb-checkout-list-preview {
	margin-left: 25px;
}

.sb-checkout-list-row {
	margin-top: -20px;
}
