/* Shoebox Navbar */

#sb-nav-logo {
    height: 52px;
    position: relative;
    top: 6px;
    left: 30px;
}

.sb-white-nav {
    background: #FAFAFA;
}

/* Shoebox Sticky footer Style */
.sb-page-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Shoebox Product Styles*/

.sb-brand {
    font-size: 12px;
    color: #9B9B9B;
    position: relative;
    top: -12px;
    left: -10px;
}

.sb-product-name {
    font-size: 18px;
    position: relative;
    top: -7px;
}

.sb-price {
    position: relative;
    font-size: 14px;
    top: -3px;
}

.sb-add-to-cart {
    position: relative;
    top: 10px;
    cursor: pointer; cursor: hand;
}

/* Shoebox Cart Styles*/

.sb-brand-in-cart {
    font-size: 20px;
    color: #000000;
    margin: 0 auto;
}

.sb-name-in-cart {
    font-size: 20px;
    color: #000000;
    padding-bottom: 18px;
}

.sb-price-in-cart {
    padding-top: 7px;
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.sb-quantity-in-cart {
    font-size: 14px;
    font-weight: 100;
    color: #000000;
}

.sb-summary-header {
    font-size: 17px;
    color: #000000;
}

.sb-cart-content-detail {
    margin-top: 20px;
}

.sb-cart-subtotal {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 200;
}

.sb-cart-shipping {
    font-size: 16px;
    font-weight: 200;
}

.sb-row-order {
    padding-top: 3px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.sb-cart-total {
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
}

.sb-checkout-button {
    font-size: 25px;
    text-align: center;
}

.sb-cart-bin {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}
