<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Smart Living &amp; Smart Shoping | Shoebox</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.ico"/>
    <link rel="stylesheet" href="/static/css/icon.css">
    <link rel="stylesheet" href="/static/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="/static/css/shoebox_style.css">

  </head>
  <body>
    <div id='app'></div>
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script type="text/javascript" src="/static/js/bundle.js"></script>
    <script type="text/javascript" src="/static/js/init.js"></script>
  </body>
</html>
